.intro {
    overflow: hidden;
    position: relative;
    padding: 200px 0;
    height: 850px;
    @media (max-width: 1200px) {
        height: 800px;
    }
    @media (max-width: 992px) {
        padding: 100px 0;
        height: 650px;
    }
    @media (max-width: 768px) {
        height: 500px;
    }
    @media (max-width: 600px) {
        padding: 50px 0;
        text-align: center;
        height: 400px;
    }
    .intro__label {
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        color: #3A68B8;
        line-height: 1.1;
        margin-bottom: 10px;
        @media (max-width: 480px) {
            font-size: 12px;
        }
    }
    .intro__title {
        font-weight: 900;
        font-size: 72px;
        line-height: 1.1;
        margin-bottom: 40px;
        @media (max-width: 768px) {
            font-size: 48px;
        }
        @media (max-width: 480px) {
            font-size: 42px;
            margin-bottom: 20px;
        }
        span {
            font-weight: 900;
            font-size: 72px;
            color: #3A68B8;
            line-height: 1.1;
            @media (max-width: 768px) {
                font-size: 48px;
            }
            @media (max-width: 480px) {
                font-size: 38px;
            }
            @media (max-width: 350px) {
                font-size: 32px;
            }
        }
    }
    .intro__subtitle {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 60px;
        @media (max-width: 480px) {
            font-size: 12px;
            margin-bottom: 40px;
        }
    }
    .intro__bg {
        position: absolute;
        z-index: -1;
        top: 180px;
        right: 60px;
        @media (max-width: 1600px) {
            transform: scale(90%);
            top: 160px;
            right: 20px;
        }
        @media (max-width: 1200px) {
            right: -160px;
        }
        @media (max-width: 992px) {
            transform: scale(60%);
            right: -240px;
        }
        @media (max-width: 768px) {
            right: -320px;
            top: 100px;
        }
        @media (max-width: 600px) {
            display: none;
        }
    }
    .intro-p-1 {
        position: absolute;
        z-index: -1;
        top: 570px;
        left: 0;
        @media (max-width: 1600px) {
            transform: scale(90%);
            left: -150px;
        }
        @media (max-width: 1200px) {
            left: -250px;
        }
        @media (max-width: 992px) {
            display: none;
        }
    }
    .intro-p-2 {
        position: absolute;
        z-index: -2;
        top: -50px;
        right: 0;
        @media (max-width: 1600px) {
            transform: scale(90%);
            right: -50px;
        }
        @media (max-width: 1200px) {
            right: -200px;
            top: -70px;
        }
        @media (max-width: 992px) {
            transform: scale(60%);
            right: -300px;
        }
        @media (max-width: 768px) {
            right: -400px;
            top: -120px;
        }
        @media (max-width: 600px) {
            display: none;
        }
    }
}