.positive {
    overflow: hidden;
    &__wrapper {

        display: flex;
        align-items: center;
        justify-content: space-around;
        @media (max-width: 768px) {
            flex-direction: column-reverse;
            text-align: center;
        }
    }
    
    &__img {
        margin-left: -135px;
        @media (max-width: 1200px) {
            transform: scale(0.8);
        }
        @media (max-width: 768px) {
            margin: 0;
        }
    }

    &__text {
        width: 60%;
        margin-right: 30px;
        position: relative;
        letter-spacing: .4px;
        @media (max-width: 768px) {
            width: 100%;
            margin: 0;
            font-size: 14px;
        }
        &::before {
            content: '';
            background: url('../img/icons/quotes-left.svg') center no-repeat;
            height: 15px;
            width: 21px;

            position: absolute;
            top: -15px;
            left: -30px;
        }
        &::after {
            content: '';
            background: url('../img/icons/quotes-right.svg') center no-repeat;
            height: 15px;
            width: 21px;

            position: absolute;
            bottom: -15px;
            right: -30px;
        }
    }
}